asgiref==3.3.1
beautifulsoup4==4.9.3
dj-database-url==0.5.0
Django==3.1.4
djangorestframework==3.12.2
django-cors-headers==3.5.0
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
pip==19.2.3
pylint==2.6.0
requests==2.25.0
sqlparse==0.4.1
urllib3==1.26.2
pytz==2020.4